<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1 id="tos">${_("Terms of Service")}</h1>
<h2>Acknowledgement and Acceptance</h2>
<p>These Terms of Service govern the MadMaker website, madmaker.com.au, and the MadMaker Challenge OpenEdX platform, challenge.madmaker.com.au (the Site) which is owned by the University of Sydney and operated by the University of Sydney and/or its service providers. Your access to and use of the Site (collectively, your Access) is conditional on your acceptance and compliance with the terms, conditions, notices and discalimers contained on this page, and elsewhere on the Site (Terms of Service). Your Access to the Site constitutes your agreement to be bound by the Terms of Service. We reserve the right to revise, amend and update the Terms of Service at any time effective on the date of posting to the Site of the new and amended provisions.</p>

<h2>Access Terms</h2>
<p>Any students or teachers found to be intentionally misusing the site (e.g. hacking or sending fraudulent information or results) will have their access to the Site revoked. Users must protect their usernames and passwords from unauthorised use. Students and teachers are not to use rude or inappropriate words as part of their user information. Users of the Site must agree to the <a href="#privacy">MadMaker Privacy Policy</a>. By your use of the Site you consent to the collection, storage, use and dissemination of your personal information in accordance with this <a href="#privacy">Privacy Policy</a>.</p>
<h2 id="copyright">Copyright</h2>
<p>The materials displayed on the Site, including without limitation all information, text, materials, graphics, software, tools, results derived from the use of software and tools, advertisements, names, logos and trademarks on the Site (Content) are protected by copyright, trademark and other intellectual property by laws unless expressly indicated otherwise on the Site. You must not modify, copy, reproduce, republish, frame, download onto a computer, upload to a third party, post, transmit or distribute this Content in any way except as expressly procided for in these Terms of Service or with our express prior written consent. You must not use the Content for commerical purposes without first obtaining our express written authority.</p>
<h2>Disclaimer and Limitation of Liability</h2>
<p>Although we have no reason to believe that any information contained in this Site is inaccurate, we do not warrant the accuracy, adequacy or completeness of the information, nor do we undertake to keep this Site updated. We do not accept responsibility for loss suffered as a result of your reliance on the accuracy, timeliness and completeness. Neither we nor our directors, officers, agents, employees or contractors will be liable for any loss or damage, however arising (whether in negligence or otherwise), in connection with your Access, the Content or any omissions from the Content, except where liability is made non-excludable by legislation.</p>
<h1 id="privacy">${_("Privacy Policy")}</h1>
<p>At MadMaker we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information that is collected and recorded by MadMaker and how we use it.</p>
<p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at <a href="maito:info@madmaker.com.au">info@madmaker.com.au</a>.

<h2>Log Files</h2>
<p>Like many other websites, MadMaker makes use of log files. These files log visitors to the site – a standard procedure for many companies. The webserver logs contain IP address, timestamp, URL, browser, and referring URL. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information.</p>

<h2>Cookies</h2>
<p>MadMaker uses cookies to relate your user account to your browser, and are critical to enable the functionality on our website. If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. However, please note it is not possible to use our website without cookies enabled.</p>

<h2>Children's Information</h2>
<p>We believe it is important to provide added protection for children online. We encourage parents and guardians to spend time online with their children to observe, participate in and/or monitor and guide their online activity. If, as a parent or guardian, you are concerned about any information we hold about your child, please <a href="mailto:info@madmaker.com.au">contact us</a> immediately and we will use our best efforts to promptly remove such information from our records.</p>

<h2>Third Party Services</h2>
<p>For the purposes of improving our customer service we use a number of third party services who collect data about our users. Management of this data is governed by the Privacy Policy of each service, as listed below:</p>

<p>Google Analytics Privacy Policy: <a href="http://www.google.com/intl/en/policies/privacy" target="_blank">http://www.google.com/intl/en/policies/privacy</a></p>

<h2>How will we use the information about you?</h2>
<h3>Marketing</h3>
<p>Where we use your personal information to send you marketing information by e-mail, we will make sure you always have the option to "opt-out" from future communications. We will not pass on your information to any other organisations to be used for marketing purposes.</p>

<h3>Website Security and Privacy</h3>
<p>We understand that you may be concerned about the security of the personal information we collect from you online. We use the industry standard encryption software, Secured Socket Layer (SSL), for all communication between you and our website. The URL in your browser will show https (rather than http) to show this security feature is in use.</p>

<h3>Online Privacy Policy Only</h3>
<p>This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this website.</p>

<h3>Consent</h3>
<p>By using our website, you hereby consent to our privacy policy and agree to its terms.</p>


<h1 id="honour">${_("Honour Code")}</h1>

<p>By registering in an online course on the Site, you agree to: rely solely on your own work in connection with all assessments, problems, homework and assignments (unless collaboration is expressly permitted); acknowledge any and all external sources used in your work; refrain from any activity that would dishonestly or fraudulently improve your results or disadvantage others in the course; maintain only one user account and not let anyone else use your username and/or password; and not access or attempt to access any other user's account, or misrepresent or attempt to misrepresent your identity while using the Sites. This Honour Code is not intended to prohibit discussion of course material. While users must submit work that is their own, you should feel free to discuss course material with others either in-person or online.</p>




</section>
