## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li>You may not access this site without formal admission.</li>
          <li>© 2011-2014 <a href="//be.a.cloudgeni.us/" target="_blank">Cloud Genius</a>®</li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span><a href="//be.a.cloudgeni.us" target="_blank"><img style="width: 25px; height: 25px; vertical-align: middle;" src="https://raw.githubusercontent.com/beacloudgenius/cloudgenius/master/static/images/logo%20100x100.png" alt="" /></a></span>
    </div>
  </footer>
</div>
